# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TourAgency.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Rizat\RiderProjects\TourAgency\.idea\.idea.TourAgency\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
